.pagination {
    background-color: #27272A;
    width: 100%;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    margin: 2rem auto;
    border-radius: 1rem;
    padding: 0rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.previous , .next , .break{
    color: #3671E9;
    cursor: pointer;
    padding: 0 1rem;
}

.page-item {
    background-color: #3671E9;
    color: #fff;
    min-width: 3rem;
    max-width: 6rem;
    min-height: 3rem;
    max-height: 6rem;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    margin: 2rem 0;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}